.container{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 2fr 1fr;
  
}
.Menulogo{
  padding-right: 50%;
}
h1 {
    background-size: contain;
    text-align: left;
    font-family: 'Markazi Text', serif;
    font-size: 64px;
    color: #F4CE14;
    font-weight:bold;
    text-transform: capitalize;
  }
h2 {
  color: #EDEFEE;
   font-size: 40px;
   font-family: 'Markazi Text', serif;
   text-align: left;
   font-weight: normal;
}
h3 {
  color: #333;
  font-family: 'karla',sans-serif;
  text-align: left;
  font-size: 18pt;
  font-weight: bold;
}
h4{
  color: #EDEFEE;
  font-weight: bold;
  font-size: 16pt;
  padding-left: 20px;
}
ul {
   background-size: cover;
}
.header{
  row-gap:10px;
}
.Aboutus_title{
  margin-top: -40pt;
  font-family: 'Markazi Text', serif;
}
.About-section {
  color: #333;
  margin-top: 10;
  flex: 2;
  gap: 30px;
}
.About_image {
  padding-left: 20px;
  padding-top: 10px;
}
ul.breadcrumb {
  padding: 8px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 5px;
  color: #495E57;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #495E57;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #F4CE14;
  text-decoration: underline;
}
.Hero {
  padding-left: 20px;
  display: flex;
  border-radius: 10px;
  color: #333 ;
  gap: 2rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #495E57;
  padding-bottom: 30px;
}
.group:hover .group-hover\:block {
  display: block;
}
.Hero_title{
  margin-top: -10pt;
  font-family: 'Markazi Text', serif;
}
.Hero_subtitle {
  margin-top: -40pt;
}
.Heropara{
  color: #EDEFEE;
  font-size: 16px;
  font-weight:normal;
  line-height: 1.5;
  max-block-size: 30;
  font-family: 'Karla', sans-serif;
}
.Hero_img {
  padding-top: 10pt;
  display:flex;
  align-items:center;
  /* margin-left: 25%; */
  margin-right: 0;
}
.box{
  display: flex;
  flex-flow: column;
}
.hidden {
  display: none;
}
button{
  position: relative;
  width:max-content;
  border-radius: 10px;
  background-color: #F4CE14;
  text-decoration-style: bold;
  padding: 5px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Karla', sans-serif;
  overflow: hidden;
  cursor: pointer;
}
button :after{
  content: "";
  background-color: #495E57;
  color: white;
  display: block;
  position: relative;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120px;
  opacity: 0;
  transition: all 0.9s;
}
button:active::after{
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
/* .reservation-button{
  background-color: #F4CE14;
} */
.Reservation_heading 
{
  color: #F4CE14;
  align-items: center;
  margin-bottom: -50px;
}
.seating{
  margin-top: -30px;
  margin-left:-10px
}
.Meal_types{
  display: inline;
}
.specials_heading{
  margin-bottom: -7%;
}
.specials_button{
  margin-top: 20px;
}
p{
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  max-block-size: 30;
  padding-bottom: 10px;
  font-family: 'Karla', sans-serif;
}
article > img {
 align-items: center;
 max-width: 80%;
 margin-top: 20px;
 height: 200px;
 width: 200px;
}
article {
  flex: 1;
  padding-bottom: 20px;
}
article ul {
  list-style: none;
  color: #fff;
}
.specials_heading {
  font-family: 'Markazi Text', serif;
  padding-bottom: 10px;
}
.dish{
  background-color: #EDEFEE;
  border-radius: 16px;
 
}
.price{
  color: #ee9972;
  font-size: 16px;
  font-weight: bold;
  padding-top: 11px;
  padding-left: 70px;
}
.dish_link{
  margin-left: 10px;
}
.dish_title{
  display: flex;
  flex: 2;
}
.dish_des{
  padding-left: 25px;
}
.imgtop{
  align-items: center;
  padding-left: 50px;
}
.dish_text{
  margin-right: 10px;
}
.delivery_icon{
  transform: rotate(180);
}
.Testimonials{
  background-color: #495E57;
}
.testimonial_title{
  color:#333;
  text-align: center;
  font-family: 'Markazi Text', serif;
}
.Review_title{
  margin-left: -8px;
}
.Review_text{
  color: #EDEFEE;
  font-family: 'Karla', sans-serif;
}
.Review{
  display: inline;
}
.Rating{
margin-left: 10px;
}
nav ul {
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  text-align: center;
  padding-left: 0;
}
nav {
  text-decoration: none;
  background-color: white;
  margin-right: 10px;
}
nav ul a:active {
  text-decoration: bold;
}
nav ul a:hover {
  text-decoration: bold;
  text-decoration-thickness: 0.1rem;
  color: #F4CE14;
}
nav li {
    display: inline-block;
    align-items:right;
}
.active {
  background-color: #495E57;
  border-radius: 16px;
  color:#EDEFEE;
}
.dot:hover {
 background-color: #EDEFEE;
 color: #333;
}
section  {
  padding-top: 3%;
  display: flex;
  gap: 4rem 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2%;
}

a 
{
  margin-left: 1rem;
  margin-right: 1rem;
  padding: .3em;
  color: #333;
  text-align: left;
  font-family: 'Karla', sans-serif;
}
a:hover {
  text-decoration: underline;
  color: rgb(50, 50, 45);
  border-width: 2px;
}
.Menulogo{
  max-width: 80%;
  padding-right:20px;
}
.link {
  color: #333 ;
  background-color: white;
  border-width: 1px;
  text-align: center;
}
.link:hover {
  background-color:white;
  color:#F4CE14;
  border: #495E57;
  font-family: 'Karla', sans-serif;
}

form{
  color: #fff;
  font-family: 'Karla', sans-serif;
  background-color: #495E57;
  padding: 60px;
  gap: 20px;
}
.form-block{
  text-align: left;
}
input {
  width: 90%;
  background-color: #EDEFEE;
  padding: 12px 20px;
  margin: 20px;
  color: #333;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Karla',sans-serif;
}
select{
  width: 90%;
  background-color: #EDEFEE;
  padding: 12px 30px;
  margin: 20px;
  display: inline-block;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Karla',sans-serif;
}
.seating{
  display:inline;
}
.form{
  margin-top: -80px;
}
.formImages{
  height: 100px;
  width: 100px;
  border-radius: 20px;
  display: inline;
  margin-top: -30px;
}
.button_label{
  align-items: center;
}
.LogIn{
  color: #fff;
  font-family: 'Karla', sans-serif;
  background-color: #495E57;
  padding: 60px;
  gap: 20px;
}
footer {
  background: #eee;
  margin-top: 3%;
  display: flex;
  color: #fff;
  font-family: 'Karla', sans-serif;
}
footer img {
  max-width: 100px;
  max-height: 150px;
}
 .btmnav {
padding-top: 20px;
padding-inline: 30px;
}

.LLcopyright{
  padding-top: 40px;
  align-items: center;
  color: #fff;
}


@media only screen and(min-width: 1200px){

  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
h1 {
    font-size: 56px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 16pt;
}
h4 {
    font-size: 14pt;
}
.menuBtn{
  display: none;
}
}

@media only screen and (min-width: 1200px) {
  .container {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
  }
  h1 {
      font-size: 56px;
  }
  h2 {
      font-size: 36px;
  }
  h3 {
      font-size: 16pt;
  }
  h4 {
      font-size: 14pt;
  }
  .Hero {
      flex-direction: column;
  }
  .menuBtn{
    display: none
  }
  .header{
    display: contents;
  }
}

@media only screen and (min-width: 992px) {
  .container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
  }
  h1 {
      font-size: 48px;
  }
  h2 {
      font-size: 32px;
  }
  h3 {
      font-size: 14pt;
  }
  h4 {
      font-size: 12pt;
  }
  .Hero {
      flex-direction: column;
  }
  .Menulogo{
    padding-right: 20%;
  }
  .toggle-button{
    display: none;
  }
  .sidebar{
    display: none;
  }
  .menuBtn{
    display: none
  }
}

@media only screen and (min-width: 768px) {
  .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
  }
  h1 {
      font-size: 40px;
  }
  h2 {
      font-size: 28px;
  }
  h3 {
      font-size: 12pt;
  }
  h4 {
      font-size: 10pt;
  }
  .header{
    display: none;
  }
  .Hero {
      flex-direction: column;
  }
  .About-section {
      flex-direction: column;
  }
  .Menulogo{
    padding-right: 20%;
  }
  .breadcrumb{
    display: none;
  }
  .menuBtn{
    display: none
  }
}

@media only screen and (min-width: 600px) {
  .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
  }
  h1 {
      font-size: 32px;
  }
  h2 {
      font-size: 24px;
  }
  h3 {
      font-size: 10pt;
  }
  h4 {
      font-size: 8pt;
  }
  .Hero {
      flex-direction: column;
  }
  .About-section {
      flex-direction: column;
  }
  .Menulogo{
    padding-right: 10%;
  }
  .breadcrumb{
    display: none;
  }
  .btmsm{
    display: none;
  }
  .sidebar {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }
  .sidebar.open {
    transform: translateX(0);
  }
  .sidebar ul {
    list-style: none;
    padding: 10;
    margin: 0;
  }
  .sidebar ul li {
    padding: 15px;
  }
  .sidebar ul li a {
    text-decoration: none;
    color: #333;
  }
  .sidebar ul li a:hover {
    color: #ffbf00;
  }
  .toggle-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .hero-section {
    flex-direction: column;
    text-align: center;
  }
  .hero-section img {
    margin-top: 1rem;
  }
  .specials-section {
    grid-template-columns: 1fr;
  }
  .menuBtn{
    display: block;
  }
  .header{
    display: none;
  }
  .breadcrumb{
    display: none;
  }
  .sidebar {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }
  .sidebar.open {
    transform: translateX(0);
  }
  .sidebar ul {
    list-style: none;
    padding: 10;
    margin: 0;
  }
  .sidebar ul li {
    padding: 15px;
  }
  .sidebar ul li a {
    text-decoration: none;
    color: #333;
  }
  .sidebar ul li a:hover {
    color: #ffbf00;
  }
  .toggle-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
  }
}
