.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 2fr 1fr;
}
.Menulogo{
  padding-right: 60%;
}
body {
    background-color: #EDEFEE;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: fit-content;
}

h1 {
    background-size: contain;
    text-align: left;
    font-family: 'Markazi Text', serif;
    font-size: 64px;
    color: #F4CE14;
    font-weight:bold;
    text-transform: capitalize;
  }
h2 {
  color: #EDEFEE;
   font-size: 40px;
   font-family: 'Markazi Text', serif;
   text-align: left;
   font-weight: normal;
}
h3 {
  color: #333;
  font-family: "karla";
  text-align: left;
  font-size: 18pt;
  font-weight: bold;
}
h4{
  color: #EDEFEE;
  font-weight: bold;
  font-size: 16pt;
  padding-left: 20px;
}
ul {
   background-size: cover;
}
.Aboutus_title{
  margin-top: -40px;
  font-family: 'Markazi Text', serif;
}
.Aboutus_subtitle {
  color: #333;
  margin-top: -40pt;
  text-transform: capitalize;
}
.About_image1 {
  padding-top: 05% ;
}
.About_image2 {
  padding-top: 05%;
}
nav ul {
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  text-align: center;
  padding-left: 0;
}
nav {
  color:#333;
  text-decoration: none;
  background-color: white;
}
nav ul a:active {
  text-decoration: underline;
}
nav ul a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}
nav li {
    display: inline-block;
    align-items:left;
}
.active, .dot:hover {
  background-color: #a9bbb5;
  border-radius: 16px;
}

section  {
  padding-top: 3%;
  display: flex;
  color: #333 ;
  gap: 4rem 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2%;
}
.Hero {
  padding-left: 20px;
  display: flex;
  border-radius: 10px;
  color: #333 ;
  gap: 2rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #495E57;
  padding-bottom: 30px;
}
.Hero_title{
  margin-top: -10pt;
  font-family: 'Markazi Text', serif;
}
.Hero_subtitle {
  margin-top: -40pt;
}
.Heropara{
  color: #EDEFEE;
  font-size: 16px;
  font-weight:normal;
  line-height: 1.5;
  max-block-size: 30;
  font-family: "karla";
}
.Hero_img {
  padding-top: 10pt;
  display:flex;
  align-items:center;
  margin-left: 25%;
  margin-right: 0;
}
.box{
  display: flex;
  flex-flow: column;
}
button{
  width:max-content;
  background-color: #F4CE14;
  border-radius: 16px;
  text-decoration-style: bold;
  padding: 5px;
  color: #333;
  display: inline;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Karla', sans-serif;
}
.specials_heading{
  margin-bottom: -7%;
}
.specials_button{
  margin-top: 20px;
}
p{
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  max-block-size: 30;
  padding-bottom: 10px;
  font-family: 'Karla', sans-serif;
}
article > img {
 align-items: center;
 max-width: 80%;
 margin-top: 20px;
}
article {
  flex: 1;
  padding-bottom: 20px;
}
article ul {
  list-style: none;
}
.specials_heading {
  font-family: 'Markazi Text', serif;
}
.price{
  color: #ee9972;
  font-size: 16px;
  font-weight: bold;
}
.geeksalad_link{
  margin-left: -10px;
}
.bruchetta_link{
  margin-left: -10px;
}
.lemondessert_link{
  margin-left: -10px;
}
.delivery_icon{
  transform: rotate(180);
}
.Testimonials{
  background-color: #495E57;
}
.testimonial_title{
  color:#333;
  text-align: center;
  font-family: 'Markazi Text', serif;
}
.Review_title{
  margin-left: -10px;
}
.Review_text{
  color: #EDEFEE;
  font-family: 'Karla', sans-serif;
}
.Rating{
margin-left: 10px;
}
a {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: .3em;
    color: #333;
    text-align: left;
    font-family: 'Karla', sans-serif;
 }
 a:hover {
  text-decoration: underline;
  color: rgb(50, 50, 45);
  border-width: 2px;
 }
 .Menulogo{
  max-width: 80%
 }
.link {
  color: #333 ;
  background-color: white;
  border-width: 1px;
  text-align: center;
}
.link:hover {
  background-color:white;
  color:#F4CE14;
  border: #495E57;
  font-family: 'Karla', sans-serif;
}

form{
  text-align: center;
  color: #333;
  font-family: 'Karla', sans-serif;
}
  footer {
    margin-top: 3%;
    display: flex;
    font-family: 'Karla', sans-serif;
}
footer img {
  max-width: 100%;
}
footer > article{
  flex: 3;
}


