.App{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  min-height: calc(100vh-16px);
}
.App .content{
  flex-direction: row;
  margin-top: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-nav{
  background-color: lightgray;
  display: inline;
  border-radius:"16px";
  padding:"40px";
  text-align:"center";
  align-items: "center";

}
.Hero-section{
  background-color: #4B6855;
}

.Hero-section h2{
  font-size: "64px";
  font-weight: "medium";
  color:"#F4CE14";
}

h3
{
  color:"white";
  font-size:"40pt"
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
